*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
OpenJDK17U-jdk_x64_windows_hotspot_17.0.17_10
/OpenJDK17U-jdk_x64_windows_hotspot_17.0.17_10
